<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mysite.member.demo.UserMapper">
    <select id="getUserByUser" resultType="com.mysite.member.demo.User">
        SELECT id,username,psw,created_at FROM users WHERE username = #{username}
    </select>
     <select id="getAllUsers" resultType="com.mysite.member.demo.User">
        SELECT * FROM users
    </select>
    	<insert id="insertUser" parameterType="com.mysite.member.demo.User">
	        INSERT INTO users (username,psw) VALUES (#{username},#{psw})
    </insert>
</mapper>